<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Boxup.Data" type="Shmzh.Components.SystemComponent.Section, Shmzh.Components.SystemComponent" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <Boxup.Data defaultProvider="AccessDataProvider">
    <providers>
      <!--
				*** AccessClient Provider ***
					connectionStringName: AccessClient connection string to the db
					useStoredProcedure: if true, indicates that we use the stored procedures, 
          otherwise, we use parametrized queries that are embedded.
			-->
      <add name="AccessDataProvider" type="Boxup.Data.AccessClient.AccessDataProvider, Boxup.Data.AccessClient" connectionStringName="Boxup.Data.ConnectionString" providerInvariantName="System.Data.OleDb" defaultCommandTimeout="30" useGZip="false"/>
    </providers>
  </Boxup.Data>
  <connectionStrings>
    <add name="Boxup.Data.ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\App_Data\Box.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Boxup.Properties.Settings.InsuranceClaimsConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\AppData\InsuranceClaims.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Boxup.Properties.Settings.BoxConnectionString" 
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\App_Data\Box.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>
